.main_image {
    width: 100%; 
    max-height: 100%;
    -webkit-filter: brightness(.72);
    filter: brightness(.72);
    margin: 0;
    padding: 0;
}

.main_image_container {
    position: relative;
    text-align: center;
    color: white;
}

.quote_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.quotation {
    font-family: Garamond, Courier, Helvetica, sans-serif;
    font-size: 2vw;
    color: white;
}

.author_quote {
    text-align: right;
    font-size: 1vw;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

.horizontal_line_quote {
    position:absolute;
    width: 50%;
    left: 25%;
}

.website_info_row {
    /*border: 2px solid black;
    background-color: blue;*/
    margin-top: 5px;
    margin-bottom: 65px;    
    padding: 30px 35px 0px;

}

.team_info_row {
    /*border: 2px solid black;
    background-color: blue;*/
    margin-top: 120px;
    margin-bottom: 0px;    
    padding: 0px 35px 10px;

}

.main_container {
    display: flex;
    display: -webkit-flex;
    background-color: purple;
    border: 5px solid black;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap: nowrap;
}

.member_container {
    display: flex;
    display: -webkit-flex;
    background-color: #f1f1f1;
    flex-direction: row;
    -webkit-flex-direction: row;
    border: 1px solid black;
    flex-wrap: nowrap;
    padding: 1px 35px 5px;
}

.member_container > div {
    /*background-color: DodgerBlue;*/
    color: black;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px; 
    flex-wrap: wrap;
}

.photoContact_container {
    /*border: 1px solid black;
    background-color: purple;*/
}

.info_member_container {
    /*border: 1px solid magenta;
    background-color: indianred;*/
    border:1px solid black;
}

.photo_container {
    /*border: 4px solid green;*/
    vertical-align: middle;
    max-width: 320px;
    max-height: 270px;
    border-radius: 50%;
    box-shadow: 0 0 10px #999999;
    padding: 4px;
}

.contact_container {
    text-decoration: none;
    border: 2px solid black;
}

@media screen and (max-width: 700px) {
    .member_container {   
        flex-direction: column;
    }
}
