/* ----------BODY SECTION----------------------- */
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI Light", Arial, Helvetica, sans-serif;
}

body {
    background: cyan;
}

/*-------------------CHAT BOX SECTION---------------*/

.chatbox {
    width: 500px;
    min-width: 390px;
    height: 600px;
    background: wheat;
    padding: 20px;
    margin: 25px auto ;
    
}

.chatlogs {
    padding : 10px;
    width: 100%;
    height:450px ;
    background: wheat ;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
    width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
}

.chat {
    display: flex;
    flex-flow: row-wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat .user-photo {
    width: 60px;
    height: 60px;
    background: rgb(128, 128, 128);
    border-radius: 50%;
    overflow: hidden;

}

.chat .user-photo img {
    width: 100%;
}

.chat .chat-message {
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    background: cyan;
    border-radius: 10px;
    color: rgb(212, 206, 206);
    font-size: 18px;
}

.friend .chat-message {
    background: rgb(28, 170, 170);
}
.self .chat-message {
    background: rgb(48, 92, 88);
    order: -1;
}

.chat-form {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.chat-form textarea {
    background: wheat;
    width: 75%;
    height:50px ;
    border:1px solid cadetblue ;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: black;
}

.chat-form textarea:focus {
    background: wheat;
}

/*ADDING SCROLLBAR FOR THE TEXTAREA*/

.chat-form textarea::-webkit-scrollbar {
    width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
}
 
/*CHAT FORM BUTTON*/
.chat-form button {
    padding: 5px 15px;
    background: rgb(77, 197, 187);
    font-size: 30px;
    color: black ;
    border: none;
    margin: 0 10px;
    box-shadow: 0 3px 0  rgb(46, 116, 110) ;
    cursor: pointer;

    -webkit-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
} 

chat-form button:hover {
    background: red;
}