aside {
    background: #2f323a;
    padding-top: 30px;
    width: 250px;
    height: 100%;
    transition: margin-left 0.5s;
    float: left;
}

aside center img{
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

aside p{
    text-align: center;
    line-height: 60px;
}

aside p label{
    cursor: pointer;
}

aside a{
    color: #FFF;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    transition: background-color 0.3s;
}

aside a span{
    color: #FFF;
}

aside a:hover, aside a.current_section{
    background-color: #19B3D3;
}

aside i{
    color: #FFF;
    margin-right: 10px;
}

.sidebar i{
    padding-right: 10px;

}

/*
THESE RULE DON'T MATCH ANY ELEMENT

label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 13px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #19B3D3;
}*/

/* SLIDE THE ENTIRE MENU TO THE LEFT */

#toggle_menu:checked + aside{
    margin-left: -200px;
}


/* MOVE THE ICONS TO THE RIGHT */
#toggle_menu:checked + aside a, #toggle_menu:checked + aside p{
    font-size: 20px;
    text-align: right;
    padding-right: 5px;
}

/* HIDE THE LABELS OF THE MENU ITEMS */
#toggle_menu:checked + aside a span{
    display: none;
}

/* SET CHECKBOX TO BE INVISIBLE */
#toggle_menu{
    display: none;
}

/* =============== MAIN CONTENT OF THE PAGE ==================== */

main{
    background: url('../images/binding_light.png') repeat;
    height: 100%;
    position: relative;
    overflow: auto;
}

main > div {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    background-color: #FFF;
    border-radius: 8px;
    padding: 15px;
}
