main > div{
    align-content: flex-start;
}

main .box{
    align-self: flex-start;
    max-width: none;
}

main .box p{
    padding: 20px;
    position: relative;
    font-weight: bold;
    font-size: 1.8em;
}

main .box p span{
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: normal;
    font-size: 18px;
}

main .totals div{
    display: inline-block;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    padding: 20px;
}

main .totals div p{
    background-color: #756bb1;
    padding: 40px;
    border-radius: 8px;
    color: #FFF;
}



main .box table{
    border-collapse: collapse;
}

main .box table tr{
    border-top: 2px solid #FFF;
}

main .box table tr td, main .box table tr th{
    padding: 15px 30px;
    white-space: nowrap;
}
main .outgoing{
    color: #e60000;
}

main .incoming{
    color: #00e64d;
}