main > div{
    align-content: flex-start;
}

.box{
    align-self: flex-start;
}

.totals div{
    display: inline-block;
}

.box h1{
    padding: 20px;
}

.box table{
    border-collapse: collapse;
}

.box table tr{
    border-top: 2px solid #FFF;
}

.box table tr td{
    padding: 10px;
}
.outgoing{
    color: #F00;
}

.incoming{
    color: #0F0;
}