main > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

main .box{
    width: 237px;
    border-radius: 4px;
    padding: 20px;
    background-color: rgb(237, 235, 230);
    margin: 10px;
}

main .box h4, main .box p{
    text-align: center;
}


main .box input[type="text"], main .box input[type="date"], main .box input[type="password"]{
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: #444;
    padding: 18px 10.4px 18px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    outline: none;
}

main .box input[type="submit"]{
    background-color: #4CAF50;
    color: #FFF;
    padding: 14px 20px;
    margin: 20px 0px 0px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.2s;
    outline: none;
}

main .box input[type="submit"]:hover, main > div .box > form > p > label:hover{
    background-color: #45a049;
}

main .box input[type="file"]{
    display: none;
}

main .box label{ 
    color: #ccc;
}

main > div .box .profile_img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-bottom: 5px;
    margin-top: 10px;
}

main > div .box .id_img{
    width: 190px;
    height: 133px;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}
main > div .box .qualification_img{
    width: 180px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
} 

main .box .file-label{
    display: inline-block;
    background-color: #4CAF50;
    color: #FFF;
    padding: 14px 20px;
    margin: 12px 0px 0px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.2s;
    outline: none;
    font-size: 13px;
}

.main .box .text-area{
    text-align: center;
    width: 200px;
    padding: 8px 16px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    outline: none;
}