#slideshow {
    white-space: nowrap;
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 15px 15px 15px #444;
    font-size: 0;
}

#slideshow span {
    display: inline-block;
    padding: 15px;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    color: #FFF;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.4s;
    background-color: rgba(0, 0, 0, 0.8);
}

#slideshow #avanti {
    right: 0;
    border-radius: 5px 0 0 5px;
}

#slideshow #indietro {
    left: 0;
    border-radius: 0 5px 5px 0;
}


#slideshow #riquadro div {
    display: inline-block;
    width: 100%;
    position: relative;
}

#slideshow #riquadro div img{
    display: block;
    width: 100%;
    height: auto;
}

#slideshow #riquadro div p {
    position: absolute;
    bottom: 0;
    padding: 15px;
    color: #FFF;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
}

#slideshow #riquadro{
    width: 100%;
    height: 100%;
    margin-left: -100%;
    background-color: #000;
}