/* ======== RESET STYLES ======== */

*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

a,a:hover,a:active,a:visited{
	color: #222;
}

html, body{
	height: 100%;
	position: relative;
}

/* ======== STYLES FOR A CUSTOMIZED-LOOKING CHECKBOX ======== */

.custom_checkbox {
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 22px;
	user-select: none;
	width: 25px;
	height: 25px;
	vertical-align: middle;
  }
  
  .custom_checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	margin: 0;
  }
  
  .custom_checkbox:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  
  .custom_checkbox input:checked ~ .checkmark {
	background-color: #2196F3;
  }
  
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  .custom_checkbox input:checked ~ .checkmark:after {
	display: block;
  }
  
  .custom_checkbox .checkmark:after {
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }

/* GENERIC BUTTON */

.button{
	display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    margin-top: 25px;
	cursor: pointer;
	font-size: 16px;
    outline: none;
}

/* ============ HEADER ============ */

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

header #menu_wrap a{
    display: inline-block;
    text-decoration: none;
    padding: 39px 19px;
    color: #264247;
    font-weight: 500;
    font-size: 16px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

header #menu_wrap a:hover{
    color: #007bff;
}

/* ============ MAIN ============ */

main section{
    position: relative;
}

/* ============ FIRST SECTION ============ */

main section:nth-child(1) > img{
    width: 100%;
    height: auto;
    display: block;
}

main section:nth-child(1) > div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.1);
}


/* ============ SECOND SECTION ============ */

main section:nth-child(2){
    padding: 20px 0;
    background-color: #FFF;
}



