/* ======== RESET STYLES ======== */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI Light", Arial, Helvetica, sans-serif;
}

a,a:hover,a:active,a:visited{
    color: #222;
}

html, body{
    height: 100%;
    position: relative;
}

/* ======== STYLES FOR A CUSTOMIZED-LOOKING CHECKBOX ======== */

.custom_checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-radius: 4px;
    margin-right: 8px;
}

.custom_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin: 0;
    border-radius: 4px;
}

.custom_checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}


.custom_checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom_checkbox input:checked ~ .checkmark:after {
    display: block;
}

.custom_checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* GENERIC BUTTON */

.button{
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 10px 34px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

/* ============ HEADER ============ */

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

header #menu_wrap a{
    display: inline-block;
    text-decoration: none;
    padding: 39px 19px;
    color: #264247;
    font-weight: 500;
    font-size: 16px;
    -webkit-transition: border-bottom-width .3s;
    -moz-transition: border-bottom-width .3s;
    -o-transition: border-bottom-width .3s;
    transition: border-bottom-width .3s;

}

header #menu_wrap a:hover{
    border-bottom: 5px solid rgb(29, 127, 208);
    color: #007bff;
}

header #menu_wrap .current_page{
    border-bottom: 5px solid rgb(29, 127, 208);
}


header #logo_wrap img{
    width: 134px;
    height: auto;
}

/* ============ MAIN ============ */

main section{
    position: relative;
}

/* ============ FIRST SECTION ============ */

main section:nth-child(1) > img{
    width: 100%;
    height: auto;
    display: block;
}

main section:nth-child(1) > div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
}

main section:nth-child(1) > div > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

main section:nth-child(1) div h1{
    color: #FFF;
    margin-bottom: 20px;
    font-size: 3em;
}


main section:nth-child(1) #search_box{
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main section:nth-child(1) #search_box *{
    margin: 0 5px;
}

main section:nth-child(1) #search_box input{
    outline: none;
    padding: 9px 9px 9px 22px;
    color: #777777;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    width: 75%;
}


/* ============ SECOND SECTION ============ */

main section:nth-child(2){
    padding: 20px 0;
    background-color: #FFF;
}



