main .flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}


/*----------TEACHER HEADER start---------- */

main .flex_item:nth-child(1) {
    background-color: green;
    border: 1px solid purple;
    display: flex;
    flex-direction: row;   
    border: 1px solid black;
    padding: 30px;
    text-align: center;
    margin-bottom: 20px;
}

main .flex_item .header_left_box {
    background-color: violet;
    border: 1px solid orange;
    flex: 0, 1, 35%;
    
    padding-right: 11.5%;
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
}

main .photo_container {
    border: 4px solid green;
    vertical-align: middle;
    max-width: 370px;
    max-height: 320px;
    border-radius: 50%;
    box-shadow: 0 0 10px #999999;
    padding: 4px;
}

main .flex_item .header_middle_box{
    background-color: indianred;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    flex: 0, 1, 25%;
    margin: 10px 0px;
    text-align: left;
}

main .flex_item .header_middle_box .header_name_box{
    background-color: fuchsia;
    border: 1px solid blue;
    flex: 0, 1, 100%;
    margin: 5px 0px;
    text-align: left;
}

main .flex_item .header_middle_box .header_rating_box{
    background-color: fuchsia;
    border: 1px solid blue;
    flex: 0, 1, 100%;
    margin: 5px 0px;
    text-align: left;
}

main .flex_item .header_middle_box .header_city_box{
    background-color: fuchsia;
    border: 1px solid blue;
    flex: 0, 1, 100%;
    margin: 5px 0px;
    text-align: left;
}

main .flex_item .header_right_box{
    background-color: yellow;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    flex: 0, 1, 25%;
    margin: 10px 0px;
    text-align: left;
}

main .flex_item .header_right_box .header_bookLesson_box{
    background-color: brown;
    border: 1px solid blue;
    flex: 0, 1, 100%;
    margin: 5px 0px;
    text-align: left;
}

main .flex_item .header_right_box .header_price_box{
    background-color: brown;
    border: 1px solid blue;
    flex: 0, 1, 100%;
    margin: 5px 0px;
    text-align: left;
}

main .flex_item .header_right_box .header_responseTime_box{
    background-color: brown;
    border: 1px solid blue;
    flex: 0, 1, 100%;
    margin: 5px 0px;
    text-align: left;
}

/*----------TEACHER HEADER end---------- */

main .break_flexbox:nth-child(2) {
    flex-basis: 100%;
    height: 0;
}

/*----------TEACHER BODY START---------- */

main .flex_item:nth-child(3) {
    flex: 0 1 25%;
    border: 1px solid purple;
    margin: 20px 15px 20px 40px;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 5px 10px 8px #888888;
    text-align: center;
}

main .flex_item:nth-child(4) {
    flex: 0 1 50%;
    padding: 50px;
    margin: 20px 60px 20px 15px;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 5px 10px 8px #888888;
    text-align: left;
    line-height: 1.6;
}

main .flex_item:nth-child(5) {
    flex: 0 1 100%;
    border: 1px solid black;
    padding: 40px;
    margin: 20px 50px 40px 50px;
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 5px 10px 8px #888888;
    text-align: left;
}

main .flex_item .box{
    display: inline-block;
    width: 100%;
    margin: 10px 0px;
    text-align: left;
}

main .flex_item:nth-child(3) h3, main .flex_item:nth-child(4) h3{     
    font-size: 20px;
    text-align: left;
}

main .flex_item:nth-child(3) p, main .flex_item:nth-child(4) p{
    margin: 10px;
    
}

main .flex_item:nth-child(3) span{ 
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    margin: 5px 2px;
    background-color: azure;
    border-radius: 10px;
    font: italic 12px Georgia, serif;
    text-transform: capitalize;
}

main .flex_item:nth-child(4) h2, main .flex_item:nth-child(5) h2{   
    font-size: 35px;
    margin-bottom: 20px;
}

main table .profile_img{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

main table p{
    text-align: center;
}

main table{
    width: 100%;
    border-collapse: collapse;
}


main table tr td{
    border-top: 2px solid white;
    border-right: 2px dotted white;
    padding: 20px;
}

main table tr td:last-child{
    text-align: right;
    white-space: nowrap;
    border-right: none
}

main table tr:last-child td{
    border-bottom: 2px solid white;
}

main tr:nth-child(odd) {
    background-color: mintcream;
}
main .checked{
    color: orange;
}

