main{
    background: url('../images/binding_light.png') repeat;
    height: 100%;
    position: relative;
    overflow: auto;
}

main > div {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    background-color: #FFF;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
}

main .box{
    display: inline-block;
    border-radius: 4px;
    background-color: #deebf7;
    margin: 10px;
    max-width: 600px;
    box-shadow: 6px 6px 5px #999;
}

main .box h2{
    padding: 20px;
}

main .box > p{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

main .box > p span{
    cursor: pointer;
    font-weight: bold;
}

main .box .profile_img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
    margin-bottom: 5px;
    margin-top: 10px;
}

main .box table{
    width: 100%;
    border-collapse: collapse;
}

main .hoverable_rows table tr{
    cursor: pointer;
}

main .hoverable_rows table tr:hover{
    background-color: #9ecae1;
}


main .box table tr td{
    border-top: 2px solid #f7f7f7;
    padding: 15px;
}

main .box table tr td:last-child{
    text-align: right;
    white-space: nowrap;
}

main .box table tr:last-child td{
    border-bottom: 2px solid #f7f7f7;
}

.checked{
    color: orange;
}
