/* ============ HEADER ============ */

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

header #menu_wrap a{
    display: inline-block;
    text-decoration: none;
    padding: 39px 19px;
    padding-bottom: 44px;
    color: #264247;
    font-weight: 500;
    font-size: 16px;
    -webkit-transition: border-bottom-width .3s;
    -moz-transition: border-bottom-width .3s;
    -o-transition: border-bottom-width .3s;
    transition: border-bottom-width .3s;
    min-width: 100px;
    text-align: center;
    position: relative;

}

header #menu_wrap a:hover{
    border-bottom: 5px solid rgb(29, 127, 208);
    color: #007bff;
}

header #menu_wrap .current_page{
    border-bottom: 5px solid rgb(29, 127, 208);
}


header #logo_wrap img{
    width: 134px;
    height: auto;
}

header #menu_wrap a img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: -25px 0 0 -25px;
    object-fit: cover;
}
/* ============ MAIN ============ */

main section{
    position: relative;
}

/* ============ FIRST SECTION ============ */



main section:nth-child(1) #search_box{
    position: relative;
    background: rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    left: 25%;
}

@media screen and (max-width: 1300px){
    main section:nth-child(1) #search_box{
        width: 100%;
        left: 0;
    }
}

main section:nth-child(1) #search_box *{
    margin: 0 5px;
}

main section:nth-child(1) #search_box input[type="text"]{
    outline: none;
    padding: 9px 9px 9px 22px;
    color: #777777;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    width: 75%;
}


/* ============ SECOND SECTION ============ */

main{
    padding: 20px;
    text-align: center;
}

main .result{
    display: inline-block;
    margin: 10px;
    text-align: left;
    background-color: rgb(240, 240,240);
    border-radius: 8px;
    padding: 20px;
}

main .result .photobox:hover{
    transform: scale(1.1);
}

main .result .photobox{
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s;
    cursor: pointer;
}

main .result .photobox p{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #FFF;
    font-size: 25px;
    font-weight: 800;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    border-radius: 8px;
    vertical-align: middle;
}

main .result .photobox p i{
    font-size: 25px;
    color: #FFF;
    background-color: rgb(64,165,245);
    display: inline-block;
    padding: 8px;
    border-radius: 50%;
    margin: 0 5px;
}

main .result .cost_feedback{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

main .result .cost_feedback p{
    border: 1px dashed #444;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    background-color: #FFF;
}

main .result .cost_feedback i{
    color: orange;
    margin-right: 10px;
}

footer{
    background-color: rgba(235,235,235);
}

footer p{
    text-align: center;
    padding: 20px;
}

footer p img{
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

footer p i{
    vertical-align: middle;
    margin-left: 20px;
    cursor: pointer;
}

#login_error{
    color: #F00;
}
