<?xml version="1.0" encoding="UTF-8"?>

<web-app id="education-webapp"
         version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <display-name>RemyTutor</display-name>
    <description>Tutoring website</description>

    <!-- Location to save files upload by user -->
    <context-param> 
        <description>Location to store uploaded file</description> 
        <param-name>file-upload</param-name> 
        <param-value>
            c:/data/
        </param-value> 
    </context-param>

    <servlet>
        <servlet-name>feedbacksServlet</servlet-name>
        <servlet-class>FeedbacksServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>feedbacksServlet</servlet-name>
        <url-pattern>/feedbacks</url-pattern>
    </servlet-mapping>
    
    <!-- TEACHER -->
    
    <servlet>
        <servlet-name>teacherServlet</servlet-name>
        <servlet-class>TeacherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>teacherServlet</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping>

    <!-- INDEX -->
    
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>IndexServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/indexpost</url-pattern>
    </servlet-mapping>
    
    <!-- SEARCH -->
    
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>SearchServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    
    <!-- DASHBOARD HOMEPAGE -->
    
    <servlet>
        <servlet-name>ControlServlet</servlet-name>
        <servlet-class>ControlServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControlServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet for profile page -->
    
    <servlet>
        <servlet-name>updatePersonServlet</servlet-name>
        <servlet-class>UpdatePersonServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>updatePersonServlet</servlet-name>
        <url-pattern>/updatePersonServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet for chat page-->

    <servlet>
     <servlet-name>ChatServlet</servlet-name>
     <servlet-class>ChatServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/ChatServlet</url-pattern>
    </servlet-mapping>

</web-app>