<?xml version="1.0" encoding="UTF-8"?>

<web-app id="education-webapp"
         version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <display-name>RemyTutor</display-name>
    <description>Tutoring website</description>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Location to save files upload by user -->
    <context-param> 
        <description>Location to store uploaded file</description> 
        <param-name>file-upload</param-name> 
        <param-value>
            ${basedir}/../main/images
        </param-value> 
    </context-param>

    <servlet>
        <servlet-name>feedbacksServlet</servlet-name>
        <servlet-class>FeedbacksServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>feedbacksServlet</servlet-name>
        <url-pattern>/feedbacksServlet</url-pattern>
    </servlet-mapping>

</web-app>